// defines all variables here
$primary: #46B8AF;

// REGION: styles that affect all of a certain element
body {
  font-family: "Open Sans", monospace;
}
.header {
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
}
.section {
  padding-top: 1.5rem;
}
// END REGION

// REGION: general useful classes
.center-horizontal {
  margin: 0 auto;
  width: 100px;
}
.full-width {
  width: 100%;
}
button{
  outline: 0;
}
// END REGION

// REGION: for (not) displaying sections
.content-section {
  display: none;
}
.is-active {
  display: block;
}
// END REGION

// REGION: wish list
.wish-list-item {
  border: 0;
  border-radius: 10px;
  width: 5rem;
  height: 3rem;
  font-weight: 700;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 1px;
}
.wish-list-item:hover {
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.3);
}
// END REGION

// REGION: input bars styling
.upper-level:not(:last-child) {
  margin-bottom: 0.3rem;
}
.lower-level:last-child {
  margin-bottom: 1rem;
}
#title_input {
  margin-left: 20px;
}
// END REGION

// REGION: data tables
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.0em;
}
// END REGION
