$primary: #46B8AF;

body {
  font-family: "Open Sans", monospace;
}

.header {
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
}

.content-tab {
  display: none;
}

.is-active {
  display: block;
}

.center-horizontal {
  margin: 0 auto;
  width: 100px;
}

.section {
  padding-top: 1.5rem;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.0em;
}