// defines all NEW variables here
$radius-large: 6px;
$radius: 4px;
$background-primary: #f5f5f5;
$background-secondary: #ffffff;
$border-color: #dddddd;

// override Bulma variables here
$primary: #46B8AF;
$red-color: #CE5858;
$hover-color: #8c3838;
$tabs-boxed-link-hover-background-color: #ebebeb;
$notification-background-color: $background-secondary;
