{% extends 'index-base.html' %}
{% load static %}

{% block tabs %}
    <div class="tabs is-boxed is-fullwidth" id="tabs">
        <ul>
            <li class="is-active" data-tab="search">
                <a>
                    <span class="icon is-small"><i class="fas fa-search"></i></span>
                    <span>Search Courses</span>
                </a>
            </li>
            <li data-tab="filter">
                <a>
                    <span class="icon is-small"><i class="fas fa-filter"></i></span>
                    <span>Filter Schedules</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block searchTable %}
    <ul id="course_search_filters">
        <li>
            <label for="subject_input">Subject</label>
            <input title="Course Subject" id="subject_input" list="subjects">
            <datalist id="subjects">
                <option value="AFST" >Africana Studies</option>
                <option value="AMST" >American Studies</option>
                <option value="ANTH" >Anthropology</option>
                <option value="APSC" >Applied Science</option>
                <option value="ARAB" >Arabic</option>
                <option value="ART" >Art</option>
                <option value="ARTH" >Art History</option>
                <option value="AMES" >Asian &amp; Middle Eastern Studies</option>
                <option value="APIA" >Asian&amp;Pac Islander American St</option>
                <option value="BIOL" >Biology</option>
                <option value="BUAD" >Business Administration</option>
                <option value="CHEM" >Chemistry</option>
                <option value="CHIN" >Chinese</option>
                <option value="CLCV" >Classical Civilization</option>
                <option value="COLL" >College Courses</option>
                <option value="CMST" >Community Studies</option>
                <option value="CAMS" >Comp/App Math &amp; Stats</option>
                <option value="CSCI" >Computer Science</option>
                <option value="CRWR" >Creative Writing</option>
                <option value="CRIN" >Curriculum &amp; Instruction</option>
                <option value="DANC" >Dance</option>
                <option value="DATA" >Data Science</option>
                <option value="ECON" >Economics</option>
                <option value="EPPL" >Ed Policy Planning Leadership</option>
                <option value="EDUC" >Education</option>
                <option value="ENGL" >English</option>
                <option value="ENSP" >Environmental Science &amp; Policy</option>
                <option value="EURS" >European Studies</option>
                <option value="FMST" >Film and Media Studies</option>
                <option value="FREN" >French &amp; Francophone Studies</option>
                <option value="GSWS" >Gender/Sexuality &amp; Women&#39;s Std</option>
                <option value="GIS" >Geographic Information Systems</option>
                <option value="GEOL" >Geology</option>
                <option value="GRMN" >German Studies</option>
                <option value="GBST" >Global Studies</option>
                <option value="GOVT" >Government</option>
                <option value="GRAD" >Graduate</option>
                <option value="GREK" >Greek</option>
                <option value="HBRW" >Hebrew</option>
                <option value="HISP" >Hispanic Studies</option>
                <option value="HIST" >History</option>
                <option value="INTR" >Interdisciplinary Studies</option>
                <option value="INRL" >International Relations</option>
                <option value="ITAL" >Italian</option>
                <option value="JAPN" >Japanese</option>
                <option value="KINE" >Kinesiology &amp; Hlth Sciences</option>
                <option value="LATN" >Latin</option>
                <option value="LAS" >Latin American Studies</option>
                <option value="LAW" >Law</option>
                <option value="LING" >Linguistics</option>
                <option value="MSCI" >Marine Science</option>
                <option value="MATH" >Mathematics</option>
                <option value="MREN" >Medieval &amp; Renaissance Studies</option>
                <option value="MLSC" >Military Science</option>
                <option value="MDLL" >Modern Languages/Literatures</option>
                <option value="MUSC" >Music</option>
                <option value="NSCI" >Neuroscience</option>
                <option value="PHIL" >Philosophy</option>
                <option value="PHYS" >Physics</option>
                <option value="PSYC" >Psychology</option>
                <option value="PBHL" >Public Health</option>
                <option value="PUBP" >Public Policy</option>
                <option value="RELG" >Religious Studies</option>
                <option value="RUSN" >Russian</option>
                <option value="RPSS" >Russian &amp; Post-Soviet Studies</option>
                <option value="SOCL" >Sociology</option>
                <option value="SPCH" >Speech</option>
                <option value="THEA" >Theatre</option>
                <option value="WRIT" >
            </datalist>
        </li>
        <li>
            <label for="course_num_input">Course Number</label>
            <input title="Course Number" type="text" id="course_num_input">
        </li>
        <li>
            <label for="title_input">Title</label>
            <input title="Course Title" type="text" id="title_input">
        </li>
    </ul>
	<table id="course_search_table" class="display">
		<thead>
		<tr><th>Subject</th>
			<th>Course ID</th>
			<th>Course Title</th>
			<th>Add</th>
		</tr>
		</thead>
		<tbody>
		{% for item in sections %}
			<tr>
				<td> {{ item.subject }}</td>
				<td> {{ item.course_id }} </td>
				<td> {{ item.title }}</td>
				<td style="text-align: center;">
					<button onclick="addToWishList('{{item.subject}}','{{item.course_id}}','{{item.title}}')">+</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}