{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLANiT!</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'images/favicon.ico' %}">

    <!-- load CSS -->
    <link rel='stylesheet' href="{% static 'css/bulma.css' %}" />
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <link rel='stylesheet' href="{% static 'noUiSlider/nouislider.min.css' %}" />
    <link rel='stylesheet' href="{% static 'multiple-select/multiple-select.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/sc-1.5.0/datatables.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- end load CSS -->
</head>
<body onunload="wish_list.saveData()">
    {% block loadingScreen %}{% endblock %}
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title is-4 header" style="color: #ffffff">PLANiT!</h1>
            </a>

        </div>

    </nav>
    <div class="section is-primary">
        <div class="columns">
            <div class="column is-5" id="search_and_filter_tabs">
                <div class="notification">
                    <div class="content-section" id="empty_wish_list">
                        <strong>You have not added any courses to your wish list.</strong>
                        To add courses, select them from the 'Search Courses' tab.
                    </div>
                    <div class="content-section is-active" id="wish_list"></div>
                </div>
                {% block tabs %}{% endblock %}
                <div id="tabs_content">
                    <div id="search_tab" class="content-section is-active">
                        {% block dataTable %}{% endblock %}
                    </div>
                    <div id="filter_tab" class="content-section">
                        {% block wishListFilters %}{% endblock %}
                    </div>
                    <div id="saved_schedules_tab" class="content-section">
                        {% block savedSchedules %}{% endblock %}
                    </div>
                </div>
                {% block displayedCourse %}{% endblock %}
            </div>
            <div class="column is-7" id="calendar_column">
                <div class="center-horizontal">
                    <button onclick="cycleLeft()">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <strong><p id="schedule_index" style="display: inline-block;">0/0</p></strong>
                    <button onclick="cycleRight()">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <div id="output"></div>

    <!-- load scripts -->
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'noUiSlider/nouislider.js' %}"></script>
    <script src="{% static 'multiple-select/multiple-select.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/sc-1.5.0/datatables.min.js"></script>
    <script src="https://unpkg.com/tippy.js@2.5.4/dist/tippy.all.min.js"></script>

    <script> // gets Django template variables that will be used in js
        var get_schedules_url = '{% url "get_schedules" %}';
        var get_sections_url = '{% url "get_sections" %}';
        var csrf_token = '{{ csrf_token }}';
        {% autoescape off %}
            var courses_info = {{ courses_info }};
            var sections_of_courses = {{ sections_of_courses }};
        {% endautoescape %}
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script src="{% static 'js/scheduler.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- end load scripts -->
</body>
<footer>
    <div style="text-align: center">
        <p valign="center">Created by <a href="https://github.com/CowboyLynk" target="_blank">Cowboy Lynk</a>
        and <a href="https://github.com/DanielMcCrystal" target="_blank">Daniel McCrystal</a></p>
        <p valign="center" class="small_text">Please send us feedback at <a href="mailto:lampshadesoftware@gmail.com">lampshadesoftware@gmail.com</a></p>
        <br>
    </div>
</footer>
</html>
