{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLANiT!</title>

    <!-- load CSS -->
    <link rel='stylesheet' href="{% static 'css/bulma.css' %}" />
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'DataTables/datatables.css' %}">
    <link rel='stylesheet' href="{% static 'noUiSlider/nouislider.min.css' %}" />
    <link rel='stylesheet' href="{% static 'multiple-select/multiple-select.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- end load CSS -->
</head>
<body onunload="wish_list.saveData()">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title is-4 header" style="color: #ffffff">PLANiT!</h1>
            </a>
        </div>
    </nav>
    <div class="section is-primary">
        <div class="columns">
            <div class="column is-5" id="search_and_filter_tabs">
                <span>Wish List:<br></span>
                <div class="notification">
                    <div class="content-section" id="empty_wish_list">
                        <strong>You have not added any courses to your wish list.</strong>
                        To add courses, select them from the 'Search Courses' tab.
                    </div>
                    <div class="content-section is-active" id="wish_list"></div>
                </div>
                {% block tabs %}{% endblock %}
                <div id="search_tab" class="content-section is-active">
                    {% block searchTable %}{% endblock %}
                </div>
                <div id="filter_tab" class="content-section">
                    {% block wishListFilters %}{% endblock %}  <!-- TODO: Implement this -->
                </div>
            </div>
            <div class="column is-7">
                <div class="center-horizontal">
                    <button onclick="cycleLeft()"><</button>
                    <strong><p id="schedule_index" style="display: inline-block;">0/0</p></strong>
                    <button onclick="cycleRight()">></button>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <!-- load scripts -->
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'DataTables/datatables.js' %}"></script>
    <script src="{% static 'noUiSlider/nouislider.js' %}"></script>
    <script src="{% static 'multiple-select/multiple-select.js' %}"></script>

    <script src="{% static 'js/wishlist.js' %}"></script>
    <script src="{% static 'js/scheduler.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script> // gets Django template variables that will be used in js
        var get_schedules_url = '{% url "get_schedules" %}';
        var csrf_token = '{{ csrf_token }}';
    </script>
    <!-- end load scripts -->
</body>
</html>