{% extends 'index-base.html' %}
{% load static %}

{% block tabs %}
    <div class="tabs is-boxed is-fullwidth">
        <ul>
            <li class="is-active">
                <a>
                    <span class="icon is-small"><i class="fas fa-search"></i></span>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="fas fa-filter"></i></span>
                    <span>Filter</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block searchTable %}
	<table id="search_courses_table" class="display">
		<thead>
		<tr><th>Subject</th>
			<th>Course ID</th>
			<th>Course Title</th>
			<th>Add</th>
		</tr>
		</thead>
		<tbody>
		{% for item in sections %}
			<tr>
				<td> {{ item.subject }}</td>
				<td> {{ item.course_id }} </td>
				<td> {{ item.title }}</td>
				<td style="text-align: center;">
					<button onclick="addToWishList('{{item.subject}}','{{item.course_id}}','{{item.title}}')">+</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}