$primary-color: #00d1b2;

body {
  font-family: "Open Sans", monospace;
}

.header {
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.0em;
}